<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css"> 
    <title>About - Chianumba Chimdiebube's Portfolio</title>  
</head>
<body>
    <header>
        <h1>Chianumba Chimdiebube Daniella</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>  
                <li><a href="/about">About</a></li>  
                <li><a href="/portfolio">Portfolio</a></li>  
                <li><a href="/contact">Contact</a></li>  
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>About Me</h2>
            <p>I am Chianumba Chimdiebube, currently pursuing a Bachelor's degree at veritas university, Abuja. My passion for technology drives me to constantly learn and grow in the field of software development.</p>
            <p>Over the past year, i have gained valuable experience in various programming languages and technologies. I am particularly interested in web development and creating intuitive user intefaces.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Chimdi</p>
    </footer>
</body>
</html>