<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="/static/styles/styles.css">     
    <title>Contact - Chianumba Chimdiebube's Portfolio</title>  
</head>  
<body>  
    <header>  
        <h1>Chianumba Chimdiebube Daniella</h1>  
        <nav>  
            <ul>  
                <li><a href="/">Home</a></li>  
                <li><a href="/about">About</a></li>  
                <li><a href="/portfolio">Portfolio</a></li>  
                <li><a href="/contact">Contact</a></li>  
            </ul>  
        </nav>  
    </header>  
    <main>  
        <section>  
            <h2>Contact Me</h2>  
            <p>Feel free to reach out to me via email or social media!</p>  
            <p>Email: <a href="mailto:chimdidaniella@example.com">chimdidaniella@example.com</a></p>
            <li><strong>GitHub:</strong> <a href="https://github.com/chimdiiii" target="_blank">github.com/chimdiiii</a></li>
        </ul>  
        <p>I look forward to hearing from you!</p>  
    </section>  
</main>  
<footer>  
    <p>&copy; 2025 Chimdi</p>  
</footer>  
</body>  
</html>   