<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css">     
    <title>Chimdi's Porfolio</title>
</head>

<body>
    <header>
        <h1>Chianumba Chimdiebube Daniella</h1>
        <nav>
        <ul>
            <li><a href="/">Home</a></li>  
            <li><a href="/about">About</a></li>  
            <li><a href="/portfolio">Portfolio</a></li>  
            <li><a href="/contact">Contact</a></li>  
        </ul>    
        </nav>
    </header>
        <section>
            ,
            <p>Hi! My name is Chianumba Chimdiebube, and i am a first-year software engineering student at Veritas University, Abuja. I specialize in various programming languages such as Python, Java, JavaScript, C#, HTML and CSS. Additionally, I posssess skills in web design using figma and App development among others</p>
            <p>Feel free to go through my work and learn more about me </p>
        </section>
    <main>
        <footer>
            <p>&copy; 2025 Chimdi</p>
        </footer>
    </main>    
</body>
</html>