<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css">   
    <title>Portfolio - Chianumba Chimdiebube's Porfolio</title>
</head>
<body>
    <header>
        <h1>Chianumba Chimdiebube Daniella</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>  
                <li><a href="/about">About</a></li>  
                <li><a href="/portfolio">Portfolio</a></li>  
                <li><a href="/contact">Contact</a></li>  
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>My Work</h2>
            <ul>
                <li>
                    <strong>Project 1: Library Managment System</strong>
                    <P>A simple library managment system to keep tracks of books borrowed and returned by students created using JavaFX and mySql</P>
                </li>
                <li>
                    <strong>Project 2: Password Generator</strong>
                    <p>A simple class project to enable users to generate a password with any desired combination and length created using Python </p>
                </li>
                <li>
                    <strong>Project 3: Simple school website</strong>
                    <p>The design for a basic school website created using figma</p>
                </li>
                <li>
                    <strong>Project 4: A simple digital cloock </strong>
                    <p>A dynamically changing clock created using Javascript, HTML and CSS</p>
                </li>
            </ul>
        </section>
    </main>
    <footer>&copy; Chimdi</footer>
</body>
</html>